<!DOCTYPE html>
<html>
<head>
    <title>Tarot live</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Tarot live db</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <!-- Agrega más encabezados de columna según tu base de datos -->
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <!-- Agrega más columnas según la estructura de tu tabla -->
            </tr>
        {% endfor %}
    </table>
</body>
</html>
