.container{
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    /*Una manera de hacer responsive, más sencilla*/
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr)
    );
    gap: 15px;
    padding: 3%;
}

.container div{
    height: 100px;
    background: lightblue;
    border: 2px solid #09f;
    border-radius: 6px;
}
body{
    background: #ddd;

}