.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    min-height: 100vh;
}
.container header{
    background: #08f;
    grid-column: 1/-1;

}
.container aside{
    background: yellow;
}
.container main{
    background: red;
    grid-column: span 2;
}
.container footer{
    background: grey;
    grid-column: 1/-1;
}
body{
    margin: 0
}