@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/originals/5a/28/d8/5a28d827e117b3881e831178396e9d3b.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
}
header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size:20px;
}
.container{
width: 100%;
height: 100vh;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.container .content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(0,0,0,0.5);
    margin-top: -2%; 
}
.container .titulo h2{
    font-size: 55px;
    font-weight: 700;
    text-align: center;
}
.faldon-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.85);
}

.faldon-text {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 1.2%;
    margin: 0;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    animation: moverFaldon 15s linear infinite;
    display: inline-block; /* Asegura que los elementos se muestren en línea y no se desplacen a la siguiente línea */
    font-weight: 700;

}

@keyframes moverFaldon {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(-100%);
    }
}

main{
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .content h3{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.video-container {
    position: absolute;
    width: 380px;
    height: 380px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url("/img/yamid-tarot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-size: 380px 380px;
    clip-path: circle(50% at center);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.2);
    

}
.circle-background{
    animation: efectolive 1.4s infinite;
}
/*animacion para que rote el ciruclo*/

@keyframes efectolive{
    0%{
        height: 0px;
        width: 0px;
    }
    50%{
        height: 360px;
        width: 360px;
    }
    100%{
        width: 425px;
        height: 425px;
    }
}
#video-stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.container .content .request-reading{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .content ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .content ul li{
    margin: 10px;
    font-size: 30px;
}
.botons{
    width: 33%;
    padding: 4%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: none;
}
.botons .content{
    background-color: rgba(0,0,0,0.75);
    color: white;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 360px;
    margin-bottom: 2%;
    padding:8%;
}
.botons .content .btns{
    display: flex;
}
#btn, #stopButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    color: white;
    border: none;
    padding: 5%;
}
@keyframes pulseAnimation2 {
    0%{background-color: rgb(0, 105, 0);}
    50%{background-color: rgb(40, 195, 40);}
    100%{background-color: rgb(0, 105, 0);}
}
.botons .content #btn{
    background-color: rgb(0, 105, 0);
    margin-right: 5%;
    cursor: pointer;
    animation: pulseAnimation2 2s infinite;
}
.botons .content #btn:hover{
    border: 1px solid white;
}
@keyframes pulseAnimation {
    0% { background-color: rgb(134, 0, 0); }
    50% { background-color: rgb(200, 0, 0); }
    100% { background-color: rgb(134, 0, 0); }
}

#stopButton {
    background-color: rgb(134, 0, 0);
    animation: pulseAnimation 2s infinite; /* La animación dura 2 segundos y se repite infinitamente */
    cursor: pointer;
}
#stopButton:hover{
    border: 1px solid white;
}

#ver, #borrar{
    cursor: pointer;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: black;
    color: white; 
    text-decoration: none;
    padding: 2%;
}
#ver:hover{
    border: 1px solid white;
    background-color: rgb(0, 105, 0);
}
#borrar:hover{
    border: 1px solid white;
    background-color: rgb(134, 0, 0);
}
#submit{
    cursor: pointer;
}
#submit:hover{
    color: #eee;
    background-color: rgb(40, 195, 40);
    border: 1px solid white;
}



.form{
    width: 33%;
    height: auto;
    display:flex;
    justify-content: center;

}
form{
    background-color: rgba(0,0,0,0.85);
    border: 1px solid  #eee;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 360px;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
}
form input, form textarea, form button{
    margin-top: 2%;
    padding: 2%;
    border-radius: 10px;
    width: 85%;
}
form button a{
    text-decoration: none;
    color: black;
}
table{
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    text-align: center;
    height: auto;
}
.encabezado td{
    background-color: rgba(255,0,0,0.6);
    padding: 2%
}

.container-2{
    background-color: rgba(0,0,0,0.85);
    color: white;
    height: 100vh;
}
@media(max-width:990px){
    .container{
        margin-top: -2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container .content{
        flex-direction: column;
    }
    .container .content h2{
        font-size: 27px;
        margin-bottom: 10%;
        padding: 5%;
    }
    video{
        padding: 2%;
    }
    main{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: center;
        flex-direction: column;
        justify-content: center;
    }
    .container .content{
        height: 100vh;
        width: 100%;
    }
    .container .content main .request-reading {
        display: none;
    }
    .container .content .titulo{
        padding: 0%;
        margin-top: -10%;
    }
    .botons .content{
        display: none;
    }   
    .form{
        display: none;
    }
    main .video-container{
        width: 300px;
        height: 300px;
        background-position: center;
        background-size: cover;
        margin-top: 10%;
        margin-bottom: 10%;
        cursor: pointer;
    }
    @keyframes efectolive {
        0% {
            transform: scale(1);
            width: 0%;
            height: 0%;
        }
        100% {
            transform: scale(1.1);
            width: 360px;
            height: 360px;
        }
    }
    .faldon-content{
        height: 50px;
    }
    .faldon-content .faldon-text{
        font-size: 1rem;
    }
}